<div class="list_all">
  <div *ngFor="let observation of observations">
    <div class="obs-container">
      <div class="title">
        <h3>{{ observation?.title }}</h3>
      </div>
      <div class="obs-details">
        <div class="obs-info">
          <p><b>Date:</b> {{ observation?.date }}</p>
          <p><b>Observation:</b> {{ observation?.text }}</p>
          <p>
            <b>Location:</b> {{ observation?.city
            }}<span *ngIf="observation.state">, </span>
            {{ observation?.state }}
          </p>
        </div>
        <div class="obs-actions">
          <button
            *ngIf="getByUser"
            class="btn-round-green"
            (click)="onEditClick(observation._id)"
          >
            Edit
          </button>
          <button
            *ngIf="getByUser"
            class="btn-round-red"
            (click)="onDeleteClick(observation._id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
