$blue1: #0198e9;
$red1: #d40d38;

h1 {
  color: $blue1;
  text-align: center;
}

input {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.add_form {
  padding: 50px 10px;
}

button {
  margin: 10px 10px;
}

textarea {
  width: 95%;
  height: 200px;
}

select {
  width: 25%;
  font-family: verdana;
  font-size: 14px;
  padding: 5px;
}
