<h1>Add a New Project</h1><div class="add_form">
    <form>
        <div>
          <label>
            Project Name:<br>
            <input type="text">
          </label>
        </div>
        <div>
          <label>
            Project Type:<br>
            <input type="text">
          </label><br>
        </div>
        <label>
            Description:<br>
            <input type="textarea">
          </label><br>
        </div>
        <button type="submit">Submit</button>
      </form><br>
      

    </div>