input {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.add_form {
  padding: 50px 10px;
}

textarea {
  width: 95%;
  height: 200px;
}

.btn-group {
  margin: 10px;
}

button {
  margin: 10px;
}
