<h1>Update Observation</h1>

<div class="obs_form">
  <form [formGroup]="obsForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        Title:<br />
        <input [(ngModel)]="this.observation.title" value="{{ this.observation.title }}" type="text"
          formControlName="title" />
      </label>
    </div>

    <div>
      <label>
        Observation:<br />
        <textarea [(ngModel)]="this.observation.text" value="{{ this.observation.text }}" name="obs"
          formControlName="observation"></textarea></label><br />
    </div>

    <div>
      <label>
        City:<br />
        <input [(ngModel)]="this.observation.city" value="{{ this.observation.city }}" type="text"
          formControlName="city" /> </label><br />
    </div>

    <div>
      <label>
        State:<br />
        <input [(ngModel)]="this.observation.state" value="{{ this.observation.state }}" type="text"
          formControlName="state" /> </label><br />
    </div>

    <div>
      <label>
        Date:<br />
        <input [(ngModel)]="this.date" value="{{ this.date | date: 'yyyy-MM-dd' }}" type="date"
          formControlName="date" /> </label><br />
    </div>
    <table>
      <tr>
        <td>
          <label>
            Longitude:<br />
            <input [(ngModel)]="longitude" value="{{ longitude }}" type="number" formControlName="longitude" />
          </label><br />
        </td>
        <td>
          <label>
            Latitude:<br />
            <input [(ngModel)]="latitude" type="number" formControlName="latitude" /> </label><br />
        </td>
        <td>
          <button type="button" class="btn-round-purple" id="location-btn" (click)="getLocation()">
            <img src="assets/imgs/map-marked-alt-solid.svg">
          </button>
        </td>
      </tr>

    </table>

    <div class="btn-group">
      <app-back-button [backUrl]="backUrl" [buttonText]="buttonText"></app-back-button>
      <button class=" btn-round-blue" id="form-sub" type="submit">Submit</button>
    </div>
  </form>
  <br />
</div>