<h2>Add a New Observation</h2>

<div class="obs_form">
  <form  [formGroup]="obsForm" ngNativeValidate (ngSubmit)="onSubmit()">
    <div>
      <label>
        Title:<br />
        <input name="title" type="text" formControlName="title" ngModel required/>
      </label>
    </div>

    <div>
      <label>
        Observation:<br />
        <textarea name="obs" formControlName="observation" ngModel required></textarea></label
      ><br />
    </div>

    <div>
      <label>
        City:<br />
        <input type="text" formControlName="city" /> </label><br />
    </div>

    <div>
      <label>
        State:<br />
        <input type="text" formControlName="state" /> </label><br />
    </div>

    <div>
      <label>
        Date:<br />
        <input type="date" formControlName="date" /> </label><br />
    </div>
    <table>
      <tr>
        <td>
          <label>
            Longitude:<br />
            <input [(ngModel)]="longitude" value="{{ longitude }}" step="any" type="number" formControlName="longitude" />
          </label><br />
        </td>
        <td>
          <label>
            Latitude:<br />
            <input [(ngModel)]="latitude" type="number" step="any" formControlName="latitude" /> </label><br />
        </td>
        <td>
          <button type="button" class="btn-round-purple" id="location-btn" (click)="getLocation()">
            <img src="assets/imgs/map-marked-alt-solid.svg">
          </button>
        </td>
      </tr>

    
    </table>
    <div class="btn-group">
      <app-back-button [backUrl]="backUrl" [buttonText]="buttonText"></app-back-button>
  
      <button class="btn-round-blue" type="submit">Submit</button><br />
    </div>
  </form>
  <br />
</div>