<h1>Add a New Observation</h1>
<div class="add_form">
  <form>
    <div>
      <label>
        Username:<br>
        <input type="text" required>
      </label>
    </div>
    <div>
      <label>
        Date:<br>
        <input type="datetime" required>
      </label><br>
    </div>
    <div>
      <label>
        Location:<br>
        <!--To be added:tag location-->
      </label><br>
    </div>
    <label>
      Observation:<br>
      <textarea name="obs" required></textarea>
    </label><br>
</div>
<button type="submit" required class="btn-round-red">Submit</button>
</form><br>


</div>