<h2>Add a New Observation</h2>

<div class="obs_form">
  <form [formGroup]="obsForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        Title:<br />
        <input type="text" formControlName="title" />
      </label>
    </div>

    <div>
      <label>
        Observation:<br />
        <textarea name="obs" formControlName="observation"></textarea></label
      ><br />
    </div>

    <div>
      <label>
        City:<br />
        <input type="text" formControlName="city" /> </label
      ><br />
    </div>

    <div>
      <label>
        State:<br />
        <input type="text" formControlName="state" /> </label
      ><br />
    </div>

    <div>
      <label>
        Date:<br />
        <input type="date" formControlName="date" /> </label
      ><br />
    </div>
    <div>
      <label>
        Longitude:<br />
        <input
          [(ngModel)]="longitude"
          value="{{ longitude }}"
          type="number"
          formControlName="longitude"
        /> </label
      ><br />
      <label>
        Latitude:<br />
        <input
          [(ngModel)]="latitude"
          type="number"
          formControlName="latitude"
        /> </label
      ><br />
    </div>
    <div class="btn-group">
      <app-back-button
        [backUrl]="backUrl"
        [buttonText]="buttonText"
      ></app-back-button>
      <button type="button" class="btn-round-purple" (click)="getLocation()">
        Get Location
      </button>
      <button class="btn-round-blue" type="submit">Submit</button><br />
    </div>
  </form>
  <br />
</div>
