$blue1: #0198e9;
$red1: #d40d38;

h1 {
  color: $blue1;
  text-align: center;
}

h3 {
  text-align: center;
  color: $red1;
}

.user-info {
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
}
