$blue1: #0198E9;
$red1: #d40d38;


table {
    border:2px solid $blue1;
    border-radius: 8px;
    width:90%;
    margin:auto;
    
}

th {
    background-color:$blue1;
    color: white;
}

td {
    background-color: transparent;
    color:black;
    padding:10px;
}

div {
    padding:20px;
}

h2 {
    color:$red1;
    text-align:center;
}

button {
    margin:0 auto;
    display:block;
}
