#nav-btn-1 {
	width:45px;
	height:45px;
    border:none;
    border-radius:8px;
    float:left;
    padding:10px;
}

#nav-btn-2 {
	width:45px;
	height:45px;
    border:none;
    border-radius:8px;
    float:left;
    margin-left:20px;
    padding:10px;
}

#nav-btn-3 {
	width:45px;
	height:45px;
    border:none;
    border-radius:8px;
    float:right;
    padding:10px;
}

img {
    height:95%;
    margin:auto;
}

div {
    width:90%;
    margin:auto;
    padding-bottom: 50px;
}

