
$blue1: #0198E9;
$red1: #d40d38;
$orange1:#fa8225;
$green1:#45c474;
$purple1:#8D34CA;
$red2:#FC3761;
$blue2:#62C7FE;
$green2:#6CE89A;
$orange2:#FFAB5C;
$purple2:#B25EEB;

h2 {
    color:$red1;
    text-align:center;
}

body {
    background-image: radial-gradient( rgba(255, 233, 91, 0.24), rgba(253, 192, 26, 0.35)), 
    url('tree-4373601_640.png');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height:100%;
    
}

button:focus {
    outline:none;

}

#site-container {
    margin:auto;
    width:70%;
    padding-bottom:40px;
    padding-top:40px;

}

.btn-round-red {
    background-color: $red1;
    color:white;
    border:none;
    padding: 10px 15px;
    text-align:center;
    border-radius:8px;
    font-size:16px;

}
.btn-round-red:hover {
    background-color: $red2;

}

.btn-round-blue {
    background-color: $blue1;
    color:white;
    border:none;
    padding: 10px 15px;
    text-align:center;
    border-radius:8px;
    font-size:16px;

}

.btn-round-blue:hover {
    background-color: $blue2;

}

.btn-round-green {
    background-color: $green1;
    color:white;
    border:none;
    padding: 10px 15px;
    text-align:center;
    border-radius:8px;
    font-size:16px;

}

.btn-round-green:hover {
    background-color: $green2;

}

.btn-round-purple {
    background-color: $purple1;
    color:white;
    border:none;
    padding: 10px 15px;
    text-align:center;
    border-radius:8px;
    font-size:16px;

}

.btn-round-purple:hover {
    background-color: $purple2;

}

.btn-round-orange {
    background-color: $orange1;
    color:white;
    border:none;
    padding: 10px 15px;
    text-align:center;
    border-radius:8px;
    font-size:16px;

}

.btn-round-orange:hover {
    background-color: $orange2;

}


@media only screen and (max-width: 600px) {
    #site-container {
        width:90%;
    }
}