<div>
    <h2>My Logs:</h2>
    <table class='obs_display_user'>
        <tr><th>
            TITLE
        </th>
    <th>
        PROJECT
    </th>
    <th>
    DESCRIPTION
    </th>
    <th colspan='2'></th>
    </tr>
    <tr *ngFor="let obs of my_observations">
    <td>{{obs.title}}</td>
    <td>{{obs.project}}</td>
    <td>{{obs.description}}</td>
    <td><button class='btn-round-blue'>Edit</button></td>
    <td><button class='btn-round-red'>Delete</button></td>
    </tr>
    </table>
    </div>
